@import url("Quicksand.css");
@import url("common.css");

#title {
  gap: 0.25rem;
}

#mondtholomew {
  gap: 0;
  font-size: 2rem;
  padding: 3rem 0;
}
#mondtholomew #weekday {
  font-size: 6rem;
}

#download-link {
  color: var(--color);
  background-color: var(--accent);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

#links .section {
  margin: 0;
  flex-direction: row;
}

#links a {
  background-color: var(--color);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
