@import url("Fonts.css");
@import url("common.css");

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  padding: 0 4rem;
}

#title {
  gap: 0.25rem;
}

/* On hover font changes */
#mondtholomew:hover #weekday {
  font-family: Anurati;
}
#mondtholomew:hover :not(#weekday) {
  font-family: Comic Sans MS, "Comic Sans MS";
}

#mondtholomew {
  gap: 0;
  font-size: 2rem;
  padding: 2rem 0;
}
#mondtholomew #weekday {
  font-size: 6rem;
}

#wiki-link {
  color: var(--color);
  background-color: var(--accent);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

#links .section {
  margin: 0;
  flex-direction: row;
}

#links a {
  background-color: var(--color);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
