@import url("Aquatico.css");
@import url("common.css");

#mondtholomew {
  font-size: 2rem;
  padding: 3rem 0;
}
#mondtholomew #day {
  font-size: 6rem;
}

#download-link {
  color: var(--color);
  background-color: var(--accent);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

#features h1 {
  margin-bottom: 1rem;
}
